# starts the logging wrapper so docker logs make sense
service dockercat /system/bin/sh -c /system/bin/log_watcher.sh
    class core
    disabled

# starts the logcat service
on property:init.svc.logd=running
    start dockercat

on property:init.svc.logd=stopped
    stop dockercat