on property:sys.boot_completed=1
    # install /app/app.apk using pm for the arm64 arch
    exec -- /system/bin/sh -c "pm install --abi arm64-v8a /app/app.apk; am start -n com.tencentcs.iotvideo/.MainActivity; while true; do am start -n com.tencentcs.iotvideo/.MainActivity; sleep 10; done"

